<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Rejestracja zadania
        </h1>
        <%- include ('./partials/messages') %>
        <form action="/tasks/registertask" method="POST">
          <div class="form-group">
            <label for="title">Nazwa zadania</label>
            <input
              type="text"
              id="title"
              name="title"
              class="form-control"
              placeholder="Podaj nazwę zadania"
              value="<%= typeof title != 'undefined' ? title : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="taskNumber">Numer zadania</label>
            <input
              type="text"
              id="taskNumber"
              name="taskNumber"
              class="form-control"
              placeholder="Podaj numer zadania"
              value="<%= typeof taskNumber != 'undefined' ? taskNumber : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="title">Treść zadania</label>
            <input
              type="text"
              id="content"
              name="content"
              class="form-control"
              placeholder="Podaj treść zadania"
              value="<%= typeof content != 'undefined' ? content : '' %>"
            />
          </div>
            <div class="form-group">
              <label for="title">Pierwsza podpowiedź</label>
              <input
                type="text"
                id="firstHint"
                name="firstHint"
                class="form-control"
                placeholder="Podaj pierwszą podpowiedź"
                value="<%= typeof firstHint != 'undefined' ? firstHint : '' %>"
              />
            </div>
              <div class="form-group">
                <label for="title">Druga podpowiedź</label>
                <input
                  type="text"
                  id="secondHint"
                  name="secondHint"
                  class="form-control"
                  placeholder="Podaj drugą podpowiedź"
                  value="<%= typeof secondHint != 'undefined' ? secondHint : '' %>"
                />
              </div>
            <div class="form-group">
                  <label for="title">Rozwiązanie</label>
                  <input
                    type="text"
                    id="solution"
                    name="solution"
                    class="form-control"
                    placeholder="Podaj rozwiązanie zadania"
                    value="<%= typeof solution != 'undefined' ? solution : '' %>"
                  />
              </div>
              <div class="form-group">
                <label for="title">Link</label>
                <input
                  type="text"
                  id="link"
                  name="link"
                  class="form-control"
                  placeholder="Podaj adres"
                  value="<%= typeof link != 'undefined' ? link : '' %>"
                />
            </div>
          <button type="submit" class="btn btn-primary btn-block">
            Zarejestruj
          </button>
        </form>
        <p class="lead mt-4">Masz już konto? <a href="/users/login">Zaloguj</a></p>
      </div>
    </div>
  </div>